@charset "UTF-8";

body {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  #calendar {
    float: right ;
    width: 1000px;
  }
